.animate {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.motion {
  position: absolute;
  left: var(--pagePadding);
  top: 30px;
  width: 200px;
  height: 200px;
  background-color: red;
}
